<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

<title>
  {% if page.title == "Premier Lawn Care MA" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Premier Lawn Care MA
  {% endif %}
</title>

<!-- Bootstrap core CSS -->
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/bootstrap/css/docs.min.css" rel="stylesheet">
<link href="assets/sc-docs.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->