<div class="bs-docs-social">
  <ul class="bs-docs-social-buttons">
    {% comment %}<li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=studiochakra&amp;repo=premierlawncarema-dashboard&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=studiochakra&amp;repo=premierlawncarema-dashboard&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
    </li>{% endcomment %}
    <li class="follow-btn">
      <a href="https://twitter.com/r33boot" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @r33boot</a>
    </li>
    {% comment %}<li class="follow-btn">
      <a href="https://twitter.com/studiochakra" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @studiochakra</a>
    </li>{% endcomment %}
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://clients.studiochakra.com/premierlawncarema/hub" data-count="horizontal" data-via="r33boot" data-related="r33boot:Studio Chakra">Tweet</a>
    </li>
  </ul>
</div>
