{% block title %}Project Hub{% endblock %}
{% block lead %}Premier Lawn Care MA Redesign Project Hub{% endblock %}

{% block content %}
	<div class="bs-docs-section">
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					  <div class="panel-body">
					    <a href="timeline" class="btn btn-lg btn-block">Timeline</a>
					  </div>
					</div>
			</div>
			<div class="col-md-4">
				{% comment %}<div class="panel panel-default">
					  <div class="panel-body">
					    <a href="competitors" class="btn btn-lg btn-block">Competitors</a>
					  </div>
					</div>{% endcomment %}
			</div>
			<div class="col-md-4">
				{% comment %}<div class="panel panel-default">
					  <div class="panel-body">
					    <a href="personas" class="btn btn-lg btn-block">Personas</a>
					  </div>
					</div>{% endcomment %}
			</div>
		</div>
		
	</div>
{% endblock %}