{% block title %}Personas{% endblock %}
{% block lead %}{% endblock %}

{% block content %}
<div class="bs-docs-section">
  <h1 id="overview" class="page-header">{Page Header}</h1>

  <p class="lead">{Lead Paragrpah}</p>

  <h3>{Header}</h3>
  <p>{Text}</p>
</div>

{% endblock %}