{% block title %}Timeline{% endblock %}
{% block lead %}{% endblock %}

{% block content %}
<div class="bs-docs-section">

    <ul class="timeline">
         <li>
          <div class="timeline-badge"><i class="fa fa-circle"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <p><small class="text-muted"><i class="fa fa-calendar"></i> Mar 8, 2014</small></p>
              <h4 class="timeline-title">Persona Development</h4>
              <h5><a href="https://github.com/studiochakra/studiochakra.github.io/blob/master/clients/premierlawncarema/docs/premierlawncarema-persona-1.md">View Persona 1</a></h5>
              <h5><a href="https://github.com/studiochakra/studiochakra.github.io/blob/master/clients/premierlawncarema/docs/premierlawncarema-persona-2.md">View Persona 2</a></h5>
              <h5><a href="https://github.com/studiochakra/studiochakra.github.io/blob/master/clients/premierlawncarema/docs/premierlawncarema-persona-3.md">View Persona 3</a></h5>
            </div>
            <div class="timeline-body">
              <p>These are user persona's. A persona is a fictional example of a person in your target audience who will interact with your website. Personas are useful in considering the goals, desires, and limitations of buyers and users in order to help to guide decisions about a service, product or interaction space such as features, interactions, and visual design of your website.</p>
              <p>I came up with 3 fictional personas of potential users of your website. These personas will evolve over time as we map out the content and features of your site, and test them against these users.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Content Audit</h4>
              <h5><a href="https://docs.google.com/spreadsheet/ccc?key=0AlTVNN8Qtx9bdGN0YWFBR1R2Ml9Ha0ZJSFBaVlN4U0E&usp=sharing">View Content Audit</a></h5>
            </div>
          </div>
        </li>
         <li>
          <div class="timeline-badge"><i class="fa fa-circle"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <p><small class="text-muted"><i class="fa fa-calendar"></i> Mar 2, 2014</small></p>
              <h4 class="timeline-title">Contract & Proposal Delivered - Basecamp Setup</h4>
              <h5><a href="https://docs.google.com/document/d/1AiArQGJhoGvdLuR6inUkuAFyUGDbusgRECx_SMSx49o/edit?usp=sharing">View Contract</a></h5>
              <h5><a href="https://docs.google.com/document/d/1PjKaUbLykoIZVAKnzgWtW0g2YcazldpPxc8m1M5eazc/edit?usp=sharing">View Proposal</a></h5>
            </div>
            <div class="timeline-body"></div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="fa fa-circle"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <p><small class="text-muted"><i class="fa fa-calendar"></i> Feb 22, 2014</small></p>
              <h4 class="timeline-title">Begin Work on Competitive Reviews & Analysis</h4>
              <h5><a href="https://github.com/studiochakra/studiochakra.github.io/blob/master/clients/premierlawncarema/docs/premierlawncarema-competitive-1.md">View Competitve Review 1</a></h5>
              <h5><a href="https://github.com/studiochakra/studiochakra.github.io/blob/master/clients/premierlawncarema/docs/premierlawncarema-competitive-2.md">View Competitve Review 2</a></h5>
              <h5><a href="https://github.com/studiochakra/studiochakra.github.io/blob/master/clients/premierlawncarema/docs/premierlawncarema-competitive-3.md">View Competitve Review 3</a></h5>
              <h5><a href="https://github.com/studiochakra/studiochakra.github.io/blob/master/clients/premierlawncarema/docs/premierlawncarema-competitive-4.md">View Competitve Review 4</a></h5>
            </div>
            <div class="timeline-body">
              <p>I reviewed 4 of your competitors in the area, including Noon Turf Care which is the company you referred to in the Project Planner. This will give us a solid base to compare what we are up against. You'll also find a competitive analysis which summarizes my findings of all 4 competitors.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="fa fa-circle"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <p><small class="text-muted"><i class="fa fa-calendar"></i> Feb 18, 2014</small></p>
              <h4 class="timeline-title">Project Planner Review</h4>
              <h5><a href="https://github.com/studiochakra/studiochakra.github.io/blob/master/clients/premierlawncarema/docs/premierlawncarema-projectplanner-notes.md">View Project Planner Notes</a></h5>
            </div>
            <div class="timeline-body"></div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="fa fa-circle"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <p><small class="text-muted"><i class="fa fa-calendar"></i> Feb 2, 2014</small></p>
              <h4 class="timeline-title">Delivered Project Planner</h4>
              <h5><a href="https://docs.google.com/document/d/1XysWb6DkAlyqxfZ9eIZcMg8wX19cWRIsxmLJ8fkxXdg/edit?usp=sharing">View Completed Project Planner</a></h5>
              <h5><a href="https://github.com/studiochakra/studiochakra.github.io/blob/master/clients/premierlawncarema/docs/premierlawncarema-projectplanner.md">View Project Planner</a></h5>
            </div>
            <div class="timeline-body"></div>
          </div>
        </li>
       {% comment %} <li>
          <div class="timeline-badge"><i class="fa fa-circle"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <p><small class="text-muted"><i class="fa fa-calendar"></i> Jan 18, 2014</small></p>
              <h4 class="timeline-title">Contract Delievered</h4>
              <h5><a href="https://docs.google.com/document/d/1y4avptu3_p-LW1GeXWvXaUhniC7k3HycN1YXDGQcWKo/edit?usp=sharing">View Contract</a></h5>
            </div>
            <div class="timeline-body"></div>
          </div>
        </li>{% endcomment %}
        {% comment %}<li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>{% endcomment %}
    </ul>

</div>

{% endblock %}